@{
  Layout = "_Layout";
}

@using PierresTreats.ViewModels

@model RegisterViewModel

<h2>Register a new user</h2>
<hr />
@using (Html.BeginForm("Register", "Accounts"))
{
  @Html.LabelFor(model => model.Email)
  @Html.TextBoxFor(model=> model.Email)

  @Html.LabelFor(model => model.Password)
  @Html.PasswordFor(model=> model.Password)

  @Html.LabelFor(model => model.ConfirmPassword)
  @Html.PasswordFor(model => model.ConfirmPassword)

  @Html.Label("Are you a Librarian?")
  @Html.CheckBoxFor(model => model.isLibrarian)

  <input type="submit" value="Register" />
}